# Delta University Credentials
STUDENT_ID=4231119
STUDENT_PASS=30310238801099$

# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=8936232926:AAFruC1HgFWHPkXTf38R_GJ4V4uPQ_83xN8
TELEGRAM_CHAT_ID=1234175126

# Settings
CHECK_INTERVAL_MINUTES=30
